APP_NAME=CheckPraia
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://checkpraia.pt

APP_LOCALE=pt
APP_FALLBACK_LOCALE=pt
APP_FAKER_LOCALE=pt_PT

APP_TIMEZONE=Europe/Lisbon

LOG_LEVEL=warning

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120

QUEUE_CONNECTION=database

CACHE_STORE=database

TRIPADVISOR_API_KEY=
THEFORK_API_KEY=
